<ion-view title="Password" ng-init="view()">
    <ion-nav-buttons side="left">
        <button class="left button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <ion-item>
                {{password.title}}
            </ion-item>
            <ion-item>
                {{password.username}}
            </ion-item>
            <ion-item>
                {{password.password}}
            </ion-item>
        </div>
    </ion-content>
</ion-view>
