<ion-view title="Passwords" ng-init="list()">
    <ion-nav-buttons side="left">
        <button class="left button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-plus" ui-sref="newpassword({categoryId: categoryId, masterPassword: masterPassword})"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in passwords" ui-sref="viewpassword({categoryId: categoryId, masterPassword: masterPassword, passwordId: item.id})">
                {{item.password.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
